main.page-terminal-live {
  display: grid;
  justify-items: stretch;
  align-items: stretch;
  background-color: #222;
  color: #ee0;
  height: 100vh;
  ovwerflow: scroll;
}

body {
  background: #222;
}
