<main id="terminal-container" class="page-terminal-live">
  <pre id="terminal" phx-update="append">
    <%= for message <- @messages do %>
      <code id={message.id}><%= message.text %></code>
    <% end %>
  </pre>
</main>
